+*
.dotest
*.o
*.plist
.*.cmd
*.Po
*.a
*.in
*.click
#/*.click
**/.deps/
src/snf
Makefile
autom4te*
build-aux
bin
config.cache
config.h
config.log
config.mk
config.status
configure.lineno
configure
libtool
depcomp
man
stamp-*
results/*
