+*
.dotest
*.o
*.plist
.*.cmd
*.Po
*.a
*.in
**/.deps/
src/hypernf
Makefile
autom4te*
build-aux
bin
config.cache
config.h
config.log
config.mk
config.status
configure.lineno
configure
libtool
depcomp
man
stamp-*
results/*

