+*
.dotest
*.o
*.plist
.*.cmd
*.Po
*.a
*.in
#*.click
**/.deps/
src/snf
Makefile
autom4te*
build-aux
bin
config.cache
config.h
config.log
config.mk
config.status
configure.lineno
configure
libtool
depcomp
man
stamp-*
results/*
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
input/papers/*
